/* About Page CSS*/

body {
    background-color: #fff;
}

.desc {
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    font-weight: 450;
}

.desc-info,
#authors {
    line-height: 1.4;
    max-width: 800px;
    margin: 1rem auto 0;
    padding: 0 0.2rem;
}
.desc-info p {
    margin-bottom: 0.1rem;
    line-height: 1.4;
    font-size: 0.14rem;
}

#authors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.author {
    display: flex;
    align-items: center;
    width: 45%;
}

.author-img-div {
    float: left;
    width: 85px;
    height: 85px;
}

.author-img {
    width: 0.85rem;
    height: 0.85rem;
    float: left;
    border-radius: 0.1rem;
}

.author-content {
    margin-left: 0.2rem;
    flex-grow: 1;
    height: 0.85rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author-title {
    font-size: 0.2rem;
}

.author-desc {
    /*background-color: #283471;*/
    color: #909090;
    font-size: 0.14rem;
    font-weight: 200;
}

.entry-count {
    float: left;
    color: #888;
    font: inherit;
    font-size: 0.6em;
    font-weight: 400;
    text-align: center;
    line-height: 1.6em;
    width: 3em;
    height: 1.6em;
    margin: 0.4em 0 0 0;
    background-color: rgb(240, 240, 240, 0.9);
    border-radius: 0.3rem;
}

.post-link a {
    font-size: 0.14rem;
}

.del-content {
    text-decoration: line-through;
}

.link-zhihu {
    color: #0084ff;
    padding-right: 1em;
}
.link-bilibili {
    color: #fb7299;
    padding-right: 1em;
}
.link-weibo {
    color: #ff8140;
    padding-right: 1em;
}

@media (max-width: 800px) {
    .desc-info {
        margin-top: 0.2rem;
    }
    #authors {
        display: block;
        margin-top: 0.4rem;
    }
    .author {
        width: 100%;
        margin-bottom: 0.4rem;
    }
}
