/* Blogroll Page CSS*/

body {
    background-color: #fff;
}
#entry {
    max-width: 900px;
    margin: 0 auto;
    padding: 0.5rem 0.2rem;
}
.desc h1 {
    font-size: 0.16rem;
    margin-bottom: 0.3rem;
}
#friends {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.item {
    width: 33.33%;
    margin-bottom: 0.3rem;
}
.friend {
    justify-content: flex-start;
    display: flex;
}
.friend-img {
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 10px;
}
.friend-content {
    height: 0.85rem;
    margin-left: 0.15rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.friend-title {
    font-size: 0.24rem;
    font-weight: bold;
}
.friend-desc {
    color: #909090;
    font-size: 0.14rem;
}
.friend-url {
    color: #1e50a2;
    font-size: 0.14rem;
    font-weight: 200;
}
@media screen and (max-width: 800px) {
    .item {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .item {
        width: 100%;
    }
    .friend-title {
        font-size: 0.2rem;
    }
}
