body {
    background-position: center center;
    background-image: url(../images/FlexibleLOM-Adapter-Card-2.jpg);
    background-size: cover;
}

#poster-text {
    color: #f5f5f7;
    height: calc(100vh - 0.4rem);
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.4;
}
.title {
    font-size: 0.46rem;
    margin-bottom: 0.3rem;
}

.sub-title {
    font-size: 0.96rem;
}
@media (max-width: 1000px) {
    #poster-text {
        padding: 0.2rem;
    }
}
@media (max-width: 800px) {
    #poster-text .title {
        font-size: 0.26rem;
        line-height: 1.4;
    }
    .sub-title {
        font-size: 0.4rem;
        line-height: 1.4;
    }
}

#poster-text .title,
#poster-text .sub-title {
    flex-shrink: 0;
    width: 100%;
}

#poster-text-highlight {
    color: rgb(255, 194, 87);
}

#entry {
    margin: 0.2rem 0 0 0;
}

#other-entry {
    background-color: rgb(255, 255, 255, 0.7);
    padding: 0.2rem;
    font-size: 0.2rem;
    font-weight: 600;
    position: absolute;
    bottom: 0.5rem;
    right: 0;
}
