

#poster {
  position:fixed;
 top: 0;
 left: 0;
 width:100%;
 height:100%;
 min-width: 1000px;
 z-index:-10;
 zoom: 1;
 background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-position: center 0;
  background-image: url(../images/FlexibleLOM-Adapter-Card-2.jpg);
}

#poster-text {
  padding: 2em;
  color: #f5f5f7;
  font-size: 96px;
  line-height: 1.04167;
  font-weight: 600;
}

#poster-text h1 {
  margin: 0 auto;
}

.title {
  font-size: 46px;
  line-height: 1.04167;
  font-weight: 400;
}

.sub-title {
  font-size: 96px;
  line-height: 1.04167;
  font-weight: 600;
}

#poster-text-highlight {
  color: rgb(255,194,87);
}

#entry {
  margin: 20px 0 0 0;
}

#other-entry {
  background-color: rgb(255,255,255,0.7);
  padding: 0.2em;
  font-size: 2em;
  font-weight: 600;
  position:absolute;
  bottom:1em;
  right:0;
} 

