body {
    background-color: #fff;
}

/* masthead */

#masthead {
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
    box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
}

#masthead-content {
    width: 6rem;
    height: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#masthead-icon {
    height: 1rem;
    width: 1rem;
    overflow: hidden;
    flex-shrink: 0;
}

#masthead-icon img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0.2rem;
}

#masthead-subcontent {
    margin-left: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1rem;
}

#masthead-title {
    font-size: 0.26rem;
    font-weight: 600;
    padding: 0 0 0 0;
}

#masthead-desc {
    display: block;
    font-size: 0.14rem;
    line-height: 1.4;
    color: #909090;
    font-weight: 200;
}

.water-basic {
    text-align: center;
    margin: 0 auto;
}
.item {
    width: 240px;
    transition: 0.3s linear;
}
.entry-image {
    border-radius: 1em;
    margin: 0 auto;
}
.entry-title {
    font-weight: 600;
    line-height: 1.4;
    font-size: 0.14rem;
    margin-top: 0.1rem;
}
.entry-info {
    margin-top: 0.1rem;
    font-weight: 400;
    font-size: 0.12rem;
    color: #909090;
}
.box1 {
    height: 200px;
    background-image: url(assets/content-image/entry-cover/v2-1537af9fdff1ab90d4e5adf8f0d376f6_r.jpg);
}
.box2 {
    height: 300px;
    background-color: blue;
}
.box3 {
    height: 200px;
    background-color: gray;
}
.box4 {
    height: 700px;
    background-color: pink;
}
.box5 {
    height: 600px;
    background-color: yellow;
}
@media screen and (max-width: 600px) {
    .water-basic {
        box-sizing: border-box;
        width: 100% !important;
    }
    .item {
        width: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        left: 0;
        top: 0;
        padding: 0.1rem 0.3rem;
        box-sizing: border-box;
        left: -12px;
    }
    #masthead-content {
        width: 100%;
        display: block;
        height: auto;
        padding: 0.3rem;
        box-sizing: border-box;
        text-align: center;
    }
    #masthead-icon {
        margin: 0 auto;
    }
    #masthead-subcontent {
        margin-top: 0.3rem;
        margin-left: 0;
        height: auto;
    }
    #masthead-desc {
        margin-top: 0.1rem;
    }
}
