*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  font-size: 15px;
  color: #121212;
  background: #f6f6f6;
  -webkit-tap-highlight-color: rgba(18,18,18,0);
}

.inner {
  max-width: 960px;
  margin: 0.2em auto; }

.page {
  max-width: 800px;
  margin: 1rem auto;
  font-size: 18px; }

p {
  margin-bottom: 1rem; }

a {
  color: inherit;
  text-decoration: none; 
}

a:hover {
  opacity: .5; 
}


h1 {
  font-family: Source Sans Pro; 
}

header {
  position: relative;
    z-index: 100;
    min-width: 1000px;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(18,18,18,.1);
    box-shadow: 0 1px 3px rgba(18,18,18,.1);
    background-clip: content-box;
}
header .inner {
  padding: 0.2rem;
  font-size: 1.5rem;
  max-width: 960px;
  margin: 0 auto; 
}
header .logo {
  text-transform: uppercase;
  font-weight: 500;
  vertical-align: middle;
  font-size: 1.35rem;
  color: inherit; 
}
header nav a {
  font-size: .75rem;
  color: #999; 
}

nav.left {
  float: left; 
}

nav.right {
  height: 2em;
  margin: auto 0 auto auto;
  float: right; 
}

nav a {
  display: inline-block;
  margin: 0.5rem; }
  nav a:hover {
    opacity: 0.7; }

.info {
  margin: .5rem 0 0;
  padding: .5rem 1.5rem;
  font-weight: 300;
  height: 260px; 
}
  .info h1 {
    font-size: 1.7rem;
    /*font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;*/ }

.info .cell {
  display: table-cell;
  width: 100%; }
  .info .cell:last-child {
    text-align: right;
    white-space: nowrap; }

content {
    background: #f6f6f6;
    -webkit-tap-highlight-color: rgba(18,18,18,0);
    display: block;
}

#entry {
  width: 47.5em;
  margin: 2em auto 0 auto;
    display: block;
}

article {
  float: left;
  /*position: relative;*/
  max-width: 160px;
  margin: 0 0 1em 1em;
  display: block; 
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #f0f2f7;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(18,18,18,.1);
  box-shadow: 0 1px 3px rgba(18,18,18,.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
  article p a {
    color: #6871df;
    text-decoration: none; }
  article .description {
    margin: 1rem 0; }

.images {
  margin: 2rem 0; }
  .images article .info {
    line-height: 1.35; }

.stats {
  margin: .5rem 0 0;
  padding: 0.2em 0 0 0;
  font-weight: 300;
  height: 50px; 
  border-top: dashed #999;
  border-width: thin;

  color: #999;
  font-size: .85rem;
  line-height: 1.6;
}

.stats span {
  display: block;
  text-align: center;
}

.preview {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  line-height: 150px;
  color: #fff;
  overflow: hidden; }

.px-iso {
  line-height: .85;
  font-family: Helvetica Neue, Arial, sans-serif; }

.exif {
  padding: 2rem 0 1rem 1rem; }
  .exif .item {
    display: inline-block;
    padding: 0 .5rem;
    text-align: center;
    line-height: 1.6;
    font-size: 0.75rem; }
  .exif .item i {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.35rem; }

@media (max-width: 640px) {
  .info .cell {
    display: block; }

  .exif {
    text-align: center; } }
/* LIGHTBOX /w CONSTRAINTS */
.lightbox {
  margin: 1.5rem auto 0;
  cursor: pointer; }
  .lightbox img {
    max-width: 100%;
    padding: 0 1rem; }

@media (max-height: 840px) {
  .lightbox.constraint {
    max-width: 1000px; } }

#kcores-logo {
  width: 2.5em;
}

#masthead {
  margin-bottom: 10px;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(18,18,18,.1);
  box-shadow: 0 1px 3px rgba(18,18,18,.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100vw;
}

#masthead-content {
  margin: 2em auto 0 auto;
  width: 46.5em;
  height: 12em;
  
}

#masthead-icon {
  float: left;
  height: 100px;
  width: 100px;
  overflow: hidden;
  margin: 1.2em 0 0 0;
}

#masthead-icon img {
  margin: auto;
  width: 100px;
}

#masthead-subcontent {
  float: left;
  margin: 1.2em 0 0 1.2em;
  width: 38em;
  height: 10em;
}

#masthead-title {
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  padding: 0 0 0 0;
}

#masthead-desc {
  float: left;
  display: block;
  width: auto;
  font-size: 1.2em;
  padding: 0.8em 0 0 0;
}