/* topics */

body {
    background-color: #fff;
}
.content {
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0.3rem;
}
.item {
    width: 25%;
    flex-shrink: 0;
    margin-bottom: 0.2rem;
}
.topic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.topic-img {
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 0.1rem;
}
.topic-content {
    height: 0.85rem;
    margin-left: 0.1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 0.1rem;
}
.topic-title {
    font-size: 0.18rem;
    font-weight: bold;
}
.topic-desc {
    color: #909090;
    font-size: 0.13rem;
    line-height: 1.4;
}
.entry-count {
    color: #888;
    font-size: 0.13rem;
    width: 0.4rem;
    height: 0.2rem;
    line-height: 0.2rem;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(240, 240, 240, 0.9);
}
@media screen and (max-width: 1200px) {
    .item {
        width: 33%;
    }
}

@media screen and (max-width: 800px) {
  .item {
      width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .item {
      width: 100%;
  }
}
